input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
button:focus {outline:0;}

.metabox-holder .postbox-container .empty-container {
	border: none;
}

.BeaconFabButtonFrame.fcy-642v3l.e1b5xbr10{
	display:none!important;
}
.hsds-beacon .iagYwt{
	display:none!important;
}
div#beacon-container .fcy-19yda2i {
	margin-bottom:-50px;
}
button.sc-Axmtr.jvRQwl{
	display:none!important;
}
#adminmenu .wp-menu-image img {
	max-width:18px;
}


/*FS Custom Widget Styles */
#fs_support_widget h2.hndle {
	color:white!important;
}
#fs_support_widget .postbox-header{
	background: #00B140!important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#fs_support_widget .handle-order-higher{
	color:#DBE442!important;
}
#fs_support_widget .handle-order-lower{
	color:#DBE442!important;
}
#fs_support_widget a {
	color:#00B140;
	text-decoration:none!important;
}

#fs_support_widget a:hover{
	color:#00B140;
}

#fs_support_widget .toggle-indicator{
	color:#ffffff;
}
/* Custom Help Widget Button Styles */
#fs-help-button-container{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.fs-help-button{
	background:none;
	border:none;
}
.fs-help-button a{
	background:#00B140;
	padding: 5px 15px 5px 15px;
	border-radius:2px;

}
.fs-help-button a:hover{
	background:#d7e040;
	transition-duration: .3s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width:150px) and (max-width:480px){
	.fs-help-button{
		min-width:100%;
		margin:10px;
	}
}

@media (min-width:800px) and (max-width:897px){
		.fs-help-button{
		min-width:100%;
		margin:10px;
	}
}
@media (min-width:961px) and (max-width:1012px){
		.fs-help-button{
		min-width:100%;
		margin:10px;
	}
}
/* FS Admin Menu Page Style */
.kb_container{
	position: relative;
    padding-bottom: 75%;
    height: 100vh;
    overflow: hidden;
}
.kb_container iframe{
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow:hidden;
}


